.img1 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -10px;
}

.img2 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -10px;
}

.img3 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -230px;
}

.img4 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -230px;
}

.img5 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -10px;
}

.img6 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -230px;
}

.img7 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -450px;
}

.img8 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -450px;
}

.img9 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -450px;
}

.img11 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -670px -10px;
}

.img10 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -670px -230px;
}

.img14 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -670px -450px;
}

.img13 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -670px;
}

.img12 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -670px;
}

.img15 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -670px;
}

.img16 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -670px -670px;
}

.img17 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -890px -10px;
}

.img19 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -890px -230px;
}

.img18 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -890px -450px;
}

.img21 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -890px -670px;
}

.img20 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -890px;
}

.img22 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -890px;
}

.img23 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -890px;
}

.img25 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -670px -890px;
}

.img24 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -890px -890px;
}

.img26 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1110px -10px;
}

.img29 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1110px -230px;
}

.img30 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1110px -450px;
}

.img27 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1110px -670px;
}

.img28 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1110px -890px;
}

.img31 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -1110px;
}

.img34 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -1110px;
}

.img32 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -1110px;
}

.img33 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -670px -1110px;
}

.img35 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -890px -1110px;
}

.img37 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1110px -1110px;
}

.img36 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1330px -10px;
}

.img38 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1330px -230px;
}

.img39 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1330px -450px;
}

.img40 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1330px -670px;
}

.img42 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1330px -890px;
}

.img41 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -1330px -1110px;
}

.img43 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -10px -1330px;
}

.img45 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -230px -1330px;
}

.img44 {
  width: 200px;
  height: 200px;
  background: url("/src/assets/images/ImageSprite/200SizeImage/css_sprites.png") -450px -1330px;
}
