.img1 {
  width: 1232px;
  height: 928px;
  background: url("css_sprites_jpg.jpg") -1459px -6214px;
}

.img2 {
  width: 1232px;
  height: 928px;
  background: url("css_sprites_jpg.jpg") -2711px -6214px;
}

.img3 {
  width: 1232px;
  height: 928px;
  background: url("css_sprites_jpg.jpg") -3963px -6214px;
}

.img4 {
  width: 1232px;
  height: 928px;
  background: url("css_sprites_jpg.jpg") -5215px -6214px;
}

.img5 {
  width: 1232px;
  height: 928px;
  background: url("css_sprites_jpg.jpg") -6467px -6214px;
}

.img6 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -7719px -6214px;
}

.img7 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -8339px -6214px;
}

.img8 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -4567px -7162px;
}

.img9 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -5187px -7162px;
}

.img10 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -5807px -7162px;
}

.img11 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -6427px -7162px;
}

.img12 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -7047px -7162px;
}

.img13 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -7667px -7162px;
}

.img14 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -8287px -7162px;
}

.img15 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -10px -8282px;
}

.img16 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -630px -8282px;
}

.img17 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -1250px -8282px;
}

.img18 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -1870px -8282px;
}

.img19 {
  width: 1430px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -7781px -4146px;
}

.img20 {
  width: 1429px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -10px -6214px;
}

.img21 {
  width: 1435px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -7781px -10px;
}

.img22 {
  width: 1431px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -7781px -2078px;
}

.img23 {
  width: 1532px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -1570px -2078px;
}

.img24 {
  width: 1496px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -1528px -4146px;
}

.img25 {
  width: 1458px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -6297px -2078px;
}

.img26 {
  width: 1557px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -1598px -10px;
}

.img27 {
  width: 1568px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -10px -10px;
}

.img28 {
  width: 1532px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -3122px -2078px;
}

.img29 {
  width: 1464px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -4560px -4146px;
}

.img30 {
  width: 1458px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -6297px -4146px;
}

.img31 {
  width: 1464px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -6297px -10px;
}

.img32 {
  width: 1526px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -4751px -10px;
}

.img33 {
  width: 1498px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -4751px -2078px;
}

.img34 {
  width: 1496px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -3044px -4146px;
}

.img35 {
  width: 1540px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -10px -2078px;
}

.img36 {
  width: 1498px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -10px -4146px;
}

.img37 {
  width: 1556px;
  height: 2048px;
  background: url("css_sprites_jpg.jpg") -3175px -10px;
}

.img38 {
  width: 1000px;
  height: 1000px;
  background: url("css_sprites_jpg.jpg") -3547px -7162px;
}

.img39 {
  width: 500px;
  height: 500px;
  background: url("css_sprites_jpg.jpg") -4970px -8282px;
}

.img40 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -2490px -8282px;
}

.img41 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -3110px -8282px;
}

.img42 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -3730px -8282px;
}

.img43 {
  width: 600px;
  height: 600px;
  background: url("css_sprites_jpg.jpg") -4350px -8282px;
}

.img44 {
  width: 1024px;
  height: 1024px;
  background: url("css_sprites_jpg.jpg") -1459px -7162px;
}

.img45 {
  width: 1024px;
  height: 1024px;
  background: url("css_sprites_jpg.jpg") -2503px -7162px;
}
